build/
logs/
reports/
dist/
tests/Doctrine/Tests/Common/Proxy/generated/
composer.lock
vendor/
.idea
doctrine-common-*.tar
doctrine-common-*.tar.gz
/phpcs.xml
/.phpcs-cache
/phpstan.neon
/.phpunit.result.cache
