language: php

sudo: false

cache:
  directory:
    - $HOME/.composer/cache

php:
  - 5.6
  - 7.0
  - 7.1
  - hhvm

matrix:
  include:
    - php: 7
      env: PHPSTAN=1 PHPSTAN_PHP70=.php7.0
    - php: 7.1
      env: PHPSTAN=1

before_script:
  - composer --prefer-source install
  - if [[ $PHPSTAN = 1 ]]; then composer require --dev phpstan/phpstan:^0.7; fi

script:
  - ./vendor/bin/phpunit
  - if [[ $PHPSTAN = 1 ]]; then vendor/bin/phpstan analyse -c phpstan${PHPSTAN_PHP70}.neon -l 3 lib tests; fi
